[mysqld]
max_connections=50
innodb_buffer_pool_size=64M
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
default-character-set=utf8mb4
